<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./stylesheet/output.css" rel="stylesheet">
    <link href="/public/stylesheet/navbar.css" rel="stylesheet">
    <script ></script>
    <title>Document</title>
</head>
<body class="bg-cinza">
<nav class="bg-azulclaro shadow-md">
  <div class="mx-auto flex items-center justify-between">
    <h1 class="mx-auto mt-auto mb-auto text-xl">MRPF Advocacia e Acessoria</h1>  </div>
</nav>



    <img src="/img/Marketing.png" class="w-full h-full max-h-full">



</body>
</html>