<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheet/output.css" rel="stylesheet">
  <title>Listar Serviços</title>
  <style>

  </style>
</head>
<body class="bg-cinza">
<nav class="bg-azulclaro shadow-md">
  <div class="flex items-center justify-center"> <h1 class="text-xl">MRPF Advocacia e Acessoria</h1> </div>
</nav>
{{!-- titulo --}}
<h1 class="text-5xl text-azulclaro text-center">Listar Serviços</h1> 
{{!-- titulo --}}


<div class="container flex flex-row justify-between">
  <div class="">
    <img src="/img/Cível2.jpg" alt="Imagem do serviço" class="w-full h-48 object-cover">
    <div class="card-body">
    <h2 class="card-title">Cível</h2>
    <p class="card-text">Cliente: José Alves</p>
    <a href="#" class="text-violet-600">Visualizar</a>
  </div>

  <div class="card">
    <img src="/img/DireitodeTransito.jpg" alt="Imagem do serviço" class="w-full h-48 object-cover">
    <div class="card-body">
    <h2 class="card-title">Direito de Trânsito</h2>
    <p class="card-text">Cliente: Marta Soares</p>
    <a href="#" class="text-violet-600">Visualizar</a>
  </div>

  <div class="card">
    <img src="/img/CarteiradeTrabalho.jpg" alt="Imagem do serviço" class="w-full h-48 object-cover">
    <div class="card-body">
    <h2 class="card-title">Trabalhista</h2>
    <p class="card-text">Cliente: Júlio Augusto</p>
    <a href="#" class="text-violet-600">Visualizar</a>
  </div>

  <div class="card-flex">
    <img src="img/Família.jpg" alt="Imagem do serviço" class="w-full h-48 object-cover">
    <div class="card-body">
    <h2 class="card-title">Família</h2>
    <p class="card-text">Cliente: Ana Célia</p>
    <a href="#" class="text-indigo-900">Visualizar</a>
  </div>


</body>
</html>
